

{{> head }}

{{> navbar }}

<div class="row">

   

<div class="col-8">
 <h1> TE AMO MUÑEKITA ..................</h1>

<h5>
     Mi cielo !Eres un regalo de Dios, tenerte a mi lado es una bendición,
    contigo y con Dios en mi vida me siento plenamente feliz
</h5>
 
<p>
    <img class="foto" src="assets/img/alejandra.jpg" class="card-img-top">
</p> 

<p>
    <img class="foto" src="assets/img/domitila1.jpg" class="card-img-top">
</p> 
<p>
    <img class="foto" src="assets/img/muneka1.jpg" class="card-img-top">
</p> 
<p>
    <img class="foto" src="assets/img/domitila2.jpg" class="card-img-top">
</p> 
<p>
    <img class="foto" src="assets/img/muneka2.jpg" class="card-img-top">
</p> 

<p>
<img class="foto" src="assets/img/anderson.jpg" class="card-img-top">
   
</p>

<p>
    <img  src="assets/img/muneka3.jpg" class="img-thumbnail">
</p> 

 
</div>

<div class="col-4">

    <img src="assets/img/cumple-tobias.png" class="card-img">


</div>

</div>

{{> footer }}




